{% comment %} <script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script> {% endcomment %}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>

<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="block header-wrapper relative bg-transparent text-purple-dark" data-section-type="header" data-section-id="{{ section.id }}">
  <header class="header relative">
    {%- if section.settings.mobile_menu != blank -%}
      <header-drawer data-breakpoint="tablet">
        <details id="Details-menu-drawer-container" class="menu-drawer-container">
        
          <summary class="header__icon absolute left-3 top-5 w-12 h-12 header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
            <span>
              {% render 'icon-hamburger.svg' %}
              {% render 'icon-close.svg' %}
            </span>
          </summary>


          <div id="menu-drawer" class="menu-drawer motion-reduce absolute block w-screen transition-all will-change-[height] inset-x-0 top-full bg-coral-100 shadow-lg" tabindex="-1">
            <div class="menu-drawer__inner-container">
              <div class="menu-drawer__navigation-container">
                <nav class="menu-drawer__navigation">
                  <ul class="menu-drawer__menu list-menu" role="list">
                    {%- for link in section.settings.mobile_menu.links -%}
                      <li class="list-menu__item">
                        {%- if link.links != blank -%}
                          <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                            <summary class="relative list-menu__item-link menu-drawer__menu-item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                              {{ link.title | escape }}

                              <div class="menu-drawer__menu-item-icon-wrapper flex items-center justify-center absolute right-0 top-[0.6rem] w-12 h-12">
                                <div class="menu-drawer__menu-item-icon menu-drawer__menu-item-icon--plus">
                                  {% render 'icon-plus.svg' %}
                                </div>

                                <div class="menu-drawer__menu-item-icon menu-drawer__menu-item-icon--minus">
                                  {% render 'icon-minus.svg' %}
                                </div>
                              </div>
                              {% comment %} {% render 'icon-arrow' %}
                              {% render 'icon-caret' %} {% endcomment %}
                            </summary>
                            <div id="link-{{ link.title | escape }}" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                              <div class="menu-drawer__inner-submenu">
                                <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                  {% render 'icon-arrow' %}
                                  {{ link.title | escape }}
                                </button>
                                <ul class="sub-menu menu-drawer__menu list-menu" role="list" tabindex="-1">
                                  {%- for childlink in link.links -%}
                                    <li class="sub-menu__item">
                                      {%- if childlink.links == blank -%}
                                        <a href="{{ childlink.url }}" class="menu-drawer__menu-item sub-menu__link focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                          {{ childlink.title | escape }}
                                        </a>
                                      {%- else -%}
                                        <details id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                          <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                            {{ childlink.title | escape }}
                                            {% render 'icon-arrow' %}
                                            {% render 'icon-caret' %}
                                          </summary>
                                          <div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu motion-reduce">
                                            <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                              {% render 'icon-arrow' %}
                                              {{ childlink.title | escape }}
                                            </button>
                                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                              {%- for grandchildlink in childlink.links -%}
                                                <li>
                                                  <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                    {{ grandchildlink.title | escape }}
                                                  </a>
                                                </li>
                                              {%- endfor -%}
                                            </ul>
                                          </div>
                                        </details>
                                      {%- endif -%}
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                            </div>
                          </details>
                        {%- else -%}
                          <a href="{{ link.url }}" class="list-menu__item-link relative focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                            {{ link.title | escape }}

                            {%- if link.handle contains 'account' -%}
                              <div class="absolute w-10 h-10 right-0 top-3 svg-wrap svg-wrap--full-size">
                                {% render 'icon-account' %}
                              </div>
                            {%- endif -%}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </nav>

                {%- if section.settings.show_utility_links -%}
                  <div class="menu-drawer__utility-links">
                    {%- if shop.customer_accounts_enabled -%}
                      <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="menu-drawer__account link focus-inset h5">
                        {% render 'icon-account' %}
                        {%- liquid
                          if customer
                            echo 'customer.account_fallback' | t
                          else
                            echo 'customer.log_in' | t
                          endif
                        -%}
                      </a>
                    {%- endif -%}
                    <ul class="list list-social list-unstyled" role="list">
                      {%- if settings.social_twitter_link != blank -%}
                        <li class="list-social__item">
                          <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                            {%- render 'icon-twitter' -%}
                            <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_facebook_link != blank -%}
                        <li class="list-social__item">
                          <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                            {%- render 'icon-facebook' -%}
                            <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_pinterest_link != blank -%}
                        <li class="list-social__item">
                          <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                            {%- render 'icon-pinterest' -%}
                            <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_instagram_link != blank -%}
                        <li class="list-social__item">
                          <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                            {%- render 'icon-instagram' -%}
                            <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_tiktok_link != blank -%}
                        <li class="list-social__item">
                          <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                            {%- render 'icon-tiktok' -%}
                            <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_tumblr_link != blank -%}
                        <li class="list-social__item">
                          <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                            {%- render 'icon-tumblr' -%}
                            <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_snapchat_link != blank -%}
                        <li class="list-social__item">
                          <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                            {%- render 'icon-snapchat' -%}
                            <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_youtube_link != blank -%}
                        <li class="list-social__item">
                          <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                            {%- render 'icon-youtube' -%}
                            <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_vimeo_link != blank -%}
                        <li class="list-social__item">
                          <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                            {%- render 'icon-vimeo' -%}
                            <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                    </ul>
                  </div>
                {%- endif -%}
                
              </div>
            </div>
          </div>
        </details>

        <{% if request.page_type == 'index' %}h1{% else %}div{% endif %} class="header__heading text-center">
      
          <a href="{{ routes.root_url }}" class="inline-block mx-auto py-4 my-2">
            <div class="brandmark w-screen mx-auto max-w-[122px] lg:max-w-[160px] relative">
              <div class="pb-[36.25%]"></div>

              <div class="svg-wrap svg-wrap--full-size absolute inset-0 text-purple-dark">
                {% render 'logo.svg' %}
              </div>

              <span class="sr-only">
                {{ shop.name }}
              </span>
            </div>
          </a>

        </{% if request.page_type == 'index' %}h1{% else %}div{% endif %}>

        <div class="absolute right-0 top-5 w-12 h-12" aria-label="{{ 'sections.cart.title' | t }}">
          {% render 'header--cart-icon' %}
        </div>
      </header-drawer>
    {%- endif -%}

    {% comment %} {% render 'header--details-modal', section: section, settings: settings %} {% endcomment %}


    <nav class="header__menu hidden lg:flex lg:justify-center">
      <ul class="header__primary-navigation flex justify-between items-center" role="list">

        {%- if section.settings.desktop_menu_left != blank -%}
          {%- for link in section.settings.desktop_menu_left.links -%}

            <li class="header-menu__item text-right px-4">
              {%- if link.links != blank -%}
                <details-disclosure>
                  <details id="Details-HeaderMenu-left-{{ forloop.index }}" class="relative header__sub-menu">
                    <summary class="header__menu-item-link text-[27px] leading-[0.85] uppercase font-bold inline-block pl-4 pr-10 py-3 pb-4 focus-inset relative">
                      <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                      <div class="svg-wrap svg-wrap--full-size absolute right-3 w-4 h-3 top-5">
                        {% render 'icon-caret' %}
                      </div>
                    </summary>

                    <ul id="HeaderMenu-MenuList-left-{{ forloop.index }}" class="list-none absolute top-full inset-x-0 motion-reduce bg-coral-100 border-b rounded-b-lg border-x border-purple-dark py-2" role="list" tabindex="-1">
                      {%- for childlink in link.links -%}
                        <li>
                          <a href="{{ childlink.url }}" class="header__menu-item px-4 py-2 block text-lg font-normal underline hover:no-underline focus:no-underline list-menu__item link link--text focus-inset{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                            {{ childlink.title | escape }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </details>
                </details-disclosure>
              {%- else -%}
                <a href="{{ link.url }}" class="header__menu-item-link text-[27px] leading-[0.85] uppercase font-bold focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                  <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                </a>
              {%- endif -%}
            </li>
            
          {%- endfor -%}
        {%- endif -%}


        <li class="header-menu__item px-4">
          {%- if request.page_type == 'index' -%}
            <h1 class="header__heading">
          {%- endif -%}
            <a href="{{ routes.root_url }}" class="block py-4 my-2">
              <div class="brandmark w-screen mx-auto max-w-[160px] relative">
                <div class="pb-[36.25%]"></div>


                <div class="svg-wrap svg-wrap--full-width absolute inset-0">
                  {% render 'logo.svg' %}
                </div>

                <span class="sr-only">
                  {{ shop.name }}
                </span>
              </div>
            </a>
          {%- if request.page_type == 'index' -%}
            </h1>
          {%- endif -%}
        </li>
        
        {%- if section.settings.desktop_menu_right != blank -%}
          {%- for link in section.settings.desktop_menu_right.links -%}
            
            <li class="header-menu__item">
              {%- if link.links != blank -%}
                <details-disclosure>
                  <details id="Details-HeaderMenu-right-{{ forloop.index }}" class="relative header__sub-menu">
                    <summary class="header__menu-item-link text-[27px] leading-[0.85] uppercase font-bold inline-block pl-4 pr-10 py-3 pb-4 focus-inset relative">
                      <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                      <div class="svg-wrap svg-wrap--full-size absolute right-3 w-4 h-3 top-5">
                        {% render 'icon-caret' %}
                      </div>
                    </summary>

                    <ul id="HeaderMenu-MenuList-right-{{ forloop.index }}" class="list-none absolute top-full inset-x-0 motion-reduce bg-coral-100 border-b rounded-b-lg border-x border-purple-dark py-2" role="list" tabindex="-1">
                      {%- for childlink in link.links -%}
                        <li>
                          <a href="{{ childlink.url }}" class="header__menu-item px-4 py-2 block text-lg font-normal underline hover:no-underline focus:no-underline list-menu__item link link--text focus-inset{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                            {{ childlink.title | escape }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </details>
                </details-disclosure>
              {%- else -%}
                <a href="{{ link.url }}" class="header__menu-item-link text-[27px] leading-[0.85] uppercase font-bold focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                  <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                </a>
              {%- endif -%}
          </li>
        {%- endfor -%}
      {%- endif -%}
    
    </ul>
  </nav>


    {%- if section.settings.mobile_menu != blank -%}
      <nav class="header__inline-menu">
        <ul class="list-menu list-menu--inline" role="list">
          {%- for link in section.settings.mobile_menu.links -%}
            <li>
            </li>
          {%- endfor -%}
        </ul>
      </nav>
    {%- endif -%}

    <div class="header__icons hidden lg:flex lg:items-center absolute right-4 top-8">
      {% comment %} {% render 'header--details-modal', section: section, settings: settings %} {% endcomment %}

      <div class="w-10 h-10 mr-1">
        {% render 'header--account-icon' %}
      </div>

      <div class="w-10 h-10">
        {% render 'header--cart-icon' %}
      </div>
    </div>
  </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

{%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.getElementById('shopify-section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }


      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    // closeMenuDisclosure() {
    //  this.disclosures = this.disclosures || this.header.querySelectorAll('details-disclosure');
    //  this.disclosures.forEach(disclosure => disclosure.close());
    // }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header absolute top-0 inset-x-0 pt-9 z-40 transition-all",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "link_list",
      "id": "mobile_menu",
      "label": "t:sections.header.settings.mobile_menu.label"
    },
    {
      "type": "link_list",
      "id": "desktop_menu_left",
      "label": "t:sections.header.settings.desktop_menu_left.label"
    },
    {
      "type": "link_list",
      "id": "desktop_menu_right",
      "label": "t:sections.header.settings.desktop_menu_right.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
  ]
}
{% endschema %}
